/*--------FONTS--------*/
@font-face {
  font-family: SourceSansPro;
  src: url("../assets/fonts/SourceSansPro-Regular.ttf");
  font-style: normal;
  font-weight: regular; }

@font-face {
  font-family: SourceSansPro;
  src: url("../assets/fonts/SourceSansPro-Bold.ttf");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Light.ttf");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: regular; }

/*---------------------*/
/*-------- VARS -------*/
/*-- Set the with of the icons by default --*/
/*---------------------*/
/*---GENERIC CLASSES---*/
/* panels is used in header and footer*/
.header,
.footer {
  background-color: #e9e2e8;
  padding: 8px 16px 0 16px;
  width: 100%; }

.header .header__content .header__logo, .footer .footer__content .footer__content__logo {
  min-width: 4.8rem;
  max-width: 5.6rem; }

.indexMain .indexMain__categories, .catalogMain .catalogMain__products .catalogMain__products__section .catalogMain__products__section__article, .newsMain .newsMain__products .newsMain__products__article {
  background-color: #f4f1f4;
  padding: 16px;
  margin: 1.6rem; }

.indexMain .newsContainer .indexMain__news .indexMain__news__title, .catalogMain .featuresContainer .catalogMain__features__title, .newsMain .newsMain__sectionTitle--title, .aboutMain .aboutMain__title, .cartMain--title, .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__payMethods--title {
  text-align: center;
  margin: 2.4rem 0 2.4rem; }

.indexMain .indexMain__categories .indexMain__categories__title, .indexMain .indexMain__categories .indexMain__categories__card--title, .catalogMain .catalogMain__products .catalogMain__products__section .catalogMain__products__section__article--title, .newsMain .newsMain__products .newsMain__products__article--title {
  text-align: left;
  padding: 24px 0 24px 24px; }

.indexMain .newsContainer, .catalogMain .featuresContainer {
  display: flex;
  justify-content: center; }

.indexMain .newsContainer .indexMain__news, .catalogMain .featuresContainer .catalogMain__features {
  border: 3px solid #f57e00;
  background-color: rgba(245, 126, 0, 0.3);
  text-align: center;
  width: 50rem;
  margin: 2.4rem 1.6rem; }

.header .header__content, .footer .footer__content {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

/*---------------------*/
/*------ BUTTONS ------*/
/*==================== BUTTONS =================*/
.button, .button--default, .button--delete, .button--confirm {
  height: auto;
  min-width: 80px;
  max-width: auto;
  padding: 0.4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all .4s; }
  .button:hover, .button--default:hover, .button--delete:hover, .button--confirm:hover {
    transform: scale(1.15); }
  .button:focus, .button--default:focus, .button--delete:focus, .button--confirm:focus {
    outline: none; }

.button--default {
  background-color: #e9e2e8;
  border: 1px solid #40264b; }
  .button--default:hover {
    background-color: #40264b;
    color: white; }

.button--delete {
  background-color: rgba(255, 99, 71, 0.5);
  border: 1px solid tomato; }
  .button--delete:hover {
    background-color: tomato;
    color: white; }

.button--confirm {
  background-color: rgba(46, 204, 112, 0.5);
  border: 1px solid #2ecc70; }
  .button--confirm:hover {
    background-color: #2ecc70;
    color: white; }

/*---------------------*/
/*--COMMON PROPERTIES--*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1; }

h1 {
  color: #353b41;
  font-weight: bold;
  line-height: 1;
  margin: 0; }

h2 {
  color: #353b41;
  font-weight: bold;
  line-height: 1;
  margin: 0; }

h3 {
  color: #353b41;
  font-weight: bold;
  line-height: 1;
  margin: 0; }

h4 {
  color: #353b41;
  font-weight: bold;
  line-height: 1;
  margin: 0; }

table {
  vertical-align: center; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1rem; }

p {
  color: #353b41;
  font-family: SourceSansPro, sans-serif;
  font-style: normal;
  font-weight: regular;
  word-spacing: 3px; }

ul {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  height: auto; }

a {
  color: #353b41;
  text-decoration: none; }

/*--- Bootstrap ---*/
.container-fluid {
  padding: 0; }

.carousel-inner > .carousel-item > img {
  width: 240px;
  height: 320px; }

@media only screen and (max-width: 540px) {
  .carousel-inner > .carousel-item > img {
    width: 180px;
    height: 240px; } }

/*-----------------*/
/*---- Icons ----*/
.icon {
  width: 3.2rem; }
  .icon--search {
    background-image: url(../assets/images/search.svg);
    background-repeat: no-repeat;
    filter: invert(91%) sepia(15%) saturate(4106%) hue-rotate(197deg) brightness(89%) contrast(90%); }
  .icon--cart {
    width: 4rem; }

/*---------------------*/
/*---GRID CONTAINERS----*/
/*--- Main Container ---*/
.mainGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto; }

.mainGrid__header {
  grid-column: 1 / 13;
  grid-row: 1 / 2; }

.mainGrid__nav {
  grid-column: 1 / 13;
  grid-row: 2 / 3; }

.mainGrid__main {
  grid-column: 1 / 13;
  grid-row: 3 / 4; }

.mainGrid__footer {
  grid-column: 1 / 13;
  grid-row: 4 / 5; }

/*------------------------*/
/*--- Header Content Grid ----*/
.header__content--grid {
  display: grid;
  grid-template-areas: 'logo search cart';
  justify-content: space-between;
  align-items: center; }

.footer__content--grid {
  display: grid;
  grid-template-areas: 'logo social .' 'logo copy .';
  justify-content: space-between;
  align-items: center;
  grid-gap: 10px; }

@media screen and (min-width: 540px) {
  .header__content--grid, .footer__content--grid {
    justify-content: space-around; } }

/*--- ProductsList Grid---*/
.listGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 24rem);
  grid-template-rows: minmax(36rem, auto);
  grid-gap: 2.4rem;
  justify-content: center; }

/*------------------------*/
/*------ Categories Grid-------*/
.categoriesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 32rem);
  grid-template-rows: auto;
  grid-gap: 2.4rem;
  justify-content: center; }

/*---- AboutMain Grid ----*/
.aboutMain__content--Grid {
  display: grid;
  grid-template-rows: repeat(3, minmax(1fr)); }

/*-----------------------*/
/*---------------------*/
/*------ HEADER -------*/
.header {
  /*margin & padding in generic-classes/%pannels */
  display: flex;
  flex-flow: column nowrap;
  position: sticky;
  top: 0;
  z-index: 1000; }
  .header .header__content .header__logo {
    grid-area: logo; }
  .header .header__content .header__search {
    background-color: white;
    margin: 0.8rem 0;
    padding: 8px;
    width: 24rem;
    grid-area: search; }
    .header .header__content .header__search .search__form {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%; }
      .header .header__content .header__search .search__form input {
        border: none; }
      .header .header__content .header__search .search__form input[type="text"] {
        font-weight: 300;
        font-size: 1.6rem;
        width: 80%; }
      .header .header__content .header__search .search__form span {
        width: 3.2rem;
        height: 3.2rem; }
  .header .header__cart {
    grid-area: cart; }
    .header .header__cart a {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }

.toggle-cart {
  display: none;
  position: fixed;
  top: 114px;
  right: 0px;
  min-width: 30rem;
  z-index: 10;
  border: 2px solid #40264b;
  background-color: #c8a0d9; }
  .toggle-cart p {
    padding: 1.6rem;
    color: #353b41; }

@media screen and (max-width: 540px) {
  .header {
    padding: 4px;
    padding-bottom: 0; }
    .header .header__content .header__search {
      margin: 0.8rem;
      padding: 8px;
      width: 20rem; } }

/*---------------------*/
/*------ NAVBAR -------*/
.navbar {
  padding: 0; }
  .navbar .navbar-nav {
    background-color: #e9e2e8;
    align-items: center;
    margin: auto; }
    .navbar .navbar-nav .nav-item {
      width: 100%;
      text-align: center;
      padding: 8px; }
      .navbar .navbar-nav .nav-item:hover {
        background-color: #c8a0d9; }
        .navbar .navbar-nav .nav-item:hover .nav-link {
          color: white; }
      .navbar .navbar-nav .nav-item.active {
        background-color: #40264b; }
        .navbar .navbar-nav .nav-item.active > a {
          color: white; }
    .navbar .navbar-nav .dropdown-menu {
      background-color: #e9e2e8;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 1.6rem;
      padding: 0; }
      .navbar .navbar-nav .dropdown-menu li {
        padding: 8px;
        width: 100%; }
        .navbar .navbar-nav .dropdown-menu li:hover {
          background-color: #c8a0d9; }
          .navbar .navbar-nav .dropdown-menu li:hover .dropdown-item {
            background-color: inherit;
            color: white; }

.navbar-collapse {
  justify-content: space-between;
  align-items: stretch; }

.navbar-light .navbar-toggler {
  margin: 0.4rem auto;
  background-color: #c8a0d9;
  border-color: #e9e2e8; }

.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(64, 38, 75, 0.702)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.navbar-toggler:focus {
  box-shadow: none; }

/*---------------------*/
/*--- PRODUCTS CARD ---*/
/*--Bootstrap class--*/
.card {
  background-color: white;
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 255, 0.1);
  border: none;
  width: 24rem; }
  .card a {
    font-family: SourceSansPro;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: bold;
    display: block;
    padding: 1rem; }
  .card .card-body {
    text-align: center;
    padding: 0; }
    .card .card-body.addToCart {
      display: inline-block;
      background-color: rgba(46, 204, 112, 0.5);
      color: #353b41; }
      .card .card-body.addToCart:hover {
        background-color: #2ecc70; }
        .card .card-body.addToCart:hover a {
          color: white; }
      .card .card-body.addToCart svg {
        width: 2.4rem; }

/*---------------------*/
/*------ FOOTER -------*/
.footer .footer__content {
  padding: 1.6rem 0; }
  .footer .footer__content .footer__content__logo {
    grid-area: logo; }
  .footer .footer__content .footer__content__social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 16px;
    grid-area: social; }
  .footer .footer__content .footer__content__copy {
    width: 100%;
    grid-area: copy; }
    .footer .footer__content .footer__content__copy > p {
      margin: auto; }

@media screen and (max-width: 540px) {
  .footer {
    padding: 4px;
    padding-bottom: 0; }
    .footer .footer__content .footer__content__copy {
      font-size: 12px; } }

/*---------------------*/
/*=========PAGES========*/
.indexMain {
  /* --------------------- */ }
  .indexMain .indexMain__title {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQoU2NkYGAwZmBgOMuAACA+CKCIMSIpADGRNaEYgKwQ3WQUjTCF6CYhWw2WAynEpgjmIpg7jUlSiM0TWK2GWUOUZ7ApxggeogIcABHJFtftKVfJAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px; }
    .indexMain .indexMain__title img {
      display: block;
      margin: auto;
      width: auto;
      max-width: 100%;
      height: 320px; }
  .indexMain .newsContainer {
    /*--- Carousel content (news)-- */ }
  .indexMain .indexMain__categories .indexMain__categories__title {
    padding: 16px; }
  .indexMain .indexMain__categories .indexMain__categories__section {
    padding: 32px;
    margin: 1.6rem; }
  .indexMain .indexMain__categories .indexMain__categories__card {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    transition: all 0.5s; }
    .indexMain .indexMain__categories .indexMain__categories__card:hover {
      transform: translate(-2px, -2px);
      box-shadow: 2px 2px 10px 4px rgba(0, 0, 255, 0.1); }
    .indexMain .indexMain__categories .indexMain__categories__card--title {
      padding: 24px; }
    .indexMain .indexMain__categories .indexMain__categories__card--img {
      width: 180px;
      height: 240px;
      margin: 0 auto; }

.catalogMain {
  /*-- Carousel Container--*/
  /*--------------*/
  /*---- Products Catalog ----*/
  /*--------------------------*/ }
  .catalogMain .featuresContainer {
    /*-- Carousel content (features)--*/ }
  .catalogMain .catalogMain__products .catalogMain__products__filter {
    background-color: rgba(245, 126, 0, 0.3);
    color: #353b41;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1.6rem;
    padding: 1.6rem; }
    .catalogMain .catalogMain__products .catalogMain__products__filter form fieldset {
      padding: 4px 8px 8px 8px;
      display: flex;
      justify-content: space-evenly; }
      .catalogMain .catalogMain__products .catalogMain__products__filter form fieldset legend {
        float: none; }
      .catalogMain .catalogMain__products .catalogMain__products__filter form fieldset .filterItem select {
        width: 100%; }

.newsMain .newsMain__sectionTitle {
  height: 160px; }
  .newsMain .newsMain__sectionTitle p {
    font-family: SourceSansPro;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: regular;
    text-align: center; }

.aboutMain .aboutMain__content {
  background-color: #faf9fb;
  padding: 16px; }
  .aboutMain .aboutMain__content .aboutMain__content__about,
  .aboutMain .aboutMain__content .aboutMain__content__products,
  .aboutMain .aboutMain__content .aboutMain__content__localization {
    background-image: linear-gradient(45deg, rgba(64, 38, 75, 0.702), transparent);
    padding: 24px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px; }
    .aboutMain .aboutMain__content .aboutMain__content__about > *,
    .aboutMain .aboutMain__content .aboutMain__content__products > *,
    .aboutMain .aboutMain__content .aboutMain__content__localization > * {
      flex: auto; }
    .aboutMain .aboutMain__content .aboutMain__content__about--text,
    .aboutMain .aboutMain__content .aboutMain__content__products--text,
    .aboutMain .aboutMain__content .aboutMain__content__localization--text {
      flex: 1 1 60%;
      font-size: 2.4rem;
      text-align: center;
      color: #353b41;
      padding: 16px; }
    .aboutMain .aboutMain__content .aboutMain__content__about--img,
    .aboutMain .aboutMain__content .aboutMain__content__products--img,
    .aboutMain .aboutMain__content .aboutMain__content__localization--img {
      background-color: white;
      flex: 1 1 40%;
      overflow: hidden;
      max-width: 200px;
      border-radius: 50%; }
  .aboutMain .aboutMain__content .aboutMain__content__about img {
    padding: 32px; }
  .aboutMain .aboutMain__content .aboutMain__content__localization .iframe {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%; }
  .aboutMain .aboutMain__content .aboutMain__content__about,
  .aboutMain .aboutMain__content .aboutMain__content__products {
    margin-bottom: 6.4rem; }

@media screen and (max-width: 540px) {
  .aboutMain .aboutMain__content .aboutMain__content__about,
  .aboutMain .aboutMain__content .aboutMain__content__products,
  .aboutMain .aboutMain__content .aboutMain__content__localization {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .aboutMain .aboutMain__content .aboutMain__content__about--text,
    .aboutMain .aboutMain__content .aboutMain__content__products--text,
    .aboutMain .aboutMain__content .aboutMain__content__localization--text {
      font-size: 1.6rem;
      font-weight: bold; } }

.cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__cartForm {
  padding: 0;
  height: fit-content;
  margin-bottom: 1.6rem; }
  .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__cartForm .cartForm {
    display: grid;
    place-items: center;
    min-height: 20rem;
    background-color: #f2f1f4; }
    .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__cartForm .cartForm form {
      /*---------- CART TABLE ---------*/
      /*---------------------------*/ }
      .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__cartForm .cartForm form .table-responsive {
        background-color: #f2f1f4;
        border-collapse: collapse;
        text-align: center;
        width: 100%; }
        .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__cartForm .cartForm form .table-responsive td,
        .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__cartForm .cartForm form .table-responsive tr,
        .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__cartForm .cartForm form .table-responsive th {
          padding: 0.8rem; }
        .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__cartForm .cartForm form .table-responsive thead tr,
        .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__cartForm .cartForm form .table-responsive thead th {
          font-size: 2rem;
          font-weight: normal;
          background-color: #c8a0d9; }
        .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__cartForm .cartForm form .table-responsive tbody tr td:first-child {
          font-weight: bold; }
        .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__cartForm .cartForm form .table-responsive tbody .productCant {
          border: 1px solid #40264b;
          text-align: center;
          width: 48px; }
        .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__cartForm .cartForm form .table-responsive tfoot td:last-child {
          font-size: 1.6rem;
          font-weight: bold;
          opacity: 0.8; }
    .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__cartForm .cartForm p {
      font-family: SourceSansPro;
      font-style: normal;
      font-weight: bold;
      font-size: 3.2rem;
      color: #353b41;
      opacity: 0.5; }

.cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient {
  padding: 0; }
  .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form {
    background-color: #f2f1f4;
    padding: 16px; }
    .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset legend {
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 3.2rem;
      float: none; }
    .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset .inputForm input:not(.button--default):not(.button--confirm) {
      border: none;
      border-bottom: 1px solid #40264b;
      caret-color: #f57e00;
      margin-bottom: 1.6rem; }
    .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset .inputForm .form-check-input {
      border: 1px solid #40264b !important; }
      .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset .inputForm .form-check-input:checked {
        background-color: #c8a0d9; }
      .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset .inputForm .form-check-input:focus {
        box-shadow: 0 0 0 0.25rem #e9e2e8; }
    .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset .inputForm .form-control {
      font-size: 1.2rem; }
      .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset .inputForm .form-control:focus {
        color: #353b41;
        background-color: #fff;
        border-color: #c8a0d9;
        outline: 0;
        box-shadow: 0 0 0 0.25rem #e9e2e8; }
    .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset .inputForm input[type="text"],
    .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset .inputForm input[type="email"],
    .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset .inputForm input[type="number"] {
      transition: all 0.4s; }
      .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset .inputForm input[type="text"]:focus,
      .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset .inputForm input[type="email"]:focus,
      .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset .inputForm input[type="number"]:focus {
        border-bottom: 2px solid #40264b;
        transform: scale(1, 1.2); }
    .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset .inputForm.groupFormButtons {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 1.6rem; }
      .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__dataClient #form fieldset .inputForm.groupFormButtons input {
        margin-right: 1.6rem; }

.cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__payMethods {
  margin: 3.2rem; }
  .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__payMethods--imgs ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
    .cartMain .cartMain__container .cartMain__container__row .cartMain__container__row__payMethods--imgs ul li {
      width: 160px; }

@media only screen and (min-width: 992px) {
  .cartMain__container__row__cartForm {
    margin-right: 1.6rem; } }

@media only screen and (max-width: 768px) {
  table,
  thead,
  tbody,
  tfoot,
  th,
  td,
  tr {
    display: block; }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  tr {
    border: 1px solid #ccc; }
  tbody td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    margin-left: 56px; }
  tbody td:before {
    /* Now like a table header */
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap; }
  tbody td:nth-of-type(1):before {
    content: "Producto"; }
  tbody td:nth-of-type(2):before {
    content: "Cantidad"; }
  tbody td:nth-of-type(3):before {
    content: "Precio ($)"; }
  tbody td:nth-of-type(4):before {
    content: "Subtotal ($)"; }
  tbody td:nth-of-type(5):before {
    content: ""; }
  tfoot tr {
    display: flex;
    justify-content: space-evenly; } }
