$clr-white: white;
$clr-purple: hsl(282, 33%, 22%);
$clr-light-purple: hsla(282, 33%, 22%, 0.702);
$clr-light-lilac: hsl(305, 13%, 90%);
$clr-lilac: hsl(282, 43%, 74%);
$clr-orange: hsl(31, 100%, 48%);
$clr-light-orange: hsla(31, 100%, 48%, 0.3);
$clr-background-products: hsl(305, 13%, 95%);
$clr-text: hsl(210, 10%, 23%);
$clr-inactiveDelete: hsla(9, 100%, 64%, 0.5);
$clr-activeDelete: hsl(9, 100%, 64%);
$clr-inactiveConfirm: hsla(145, 63%, 49%, 0.5);
$clr-activeConfirm: #2ecc70;
