@font-face {
    font-family: SourceSansPro;
    src: url("../assets/fonts/SourceSansPro-Regular.ttf");
    font-style: normal;
    font-weight: 500;
 }
 
 @font-face {
    font-family: SourceSansPro;
    src: url("../assets/fonts/SourceSansPro-Bold.ttf");
    font-style: normal;
    font-weight: bold;
 }
 
 @font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-Light.ttf");
    font-style: normal;
    font-weight: 300;
 }
 
 @font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: bold;
 }
 
 @font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: 500;
 }