/* panels is used in header and footer*/
%panels {
  background-color: $clr-light-lilac;
  padding: 8px 16px 0 16px;
  width: 100%;
}

%logoSize {
  min-width: 4.8rem;
  max-width: 5.6rem;
}

%productsList {
  background-color: $clr-background-products;
  padding: 16px;
  margin: 1.6rem;
}

%title {
  text-align: center;
  margin: 2.4rem 0 2.4rem;
  font-size: 3.2rem;
}

%subtitle {
  text-align: left;
  padding: 24px 0 24px 24px;
  font-size: 2.4rem;
}

%categoryTitle {
  text-align: center;
  margin: 2.4rem 0 2.4rem;
  font-size: 2rem;
}

%carousel {
  border: 3px solid var(--clr-orange);
  background-color: var(--clr-light-orange);
  text-align: center;
  width: 50%;
  margin: 2.4rem auto 2.4rem;
}

@media only screen and (max-width: 992px) {
  %title {
    font-size: 2.8rem;
  }
  %subtitle {
    font-size: 2rem;
  }
  %categoryTitle {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 768px) {
  %title {
    font-size: 2.4rem;
  }
  %subtitle {
    font-size: 1.8rem;
  }
  %categoryTitle {
    font-size: 1.6rem;
  }
}
