/*--- Main Container ---*/

.mainGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

.mainGrid__header {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
}

.mainGrid__nav {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
}

.mainGrid__main {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
}

.mainGrid__footer {
    grid-column: 1 / 13;
    grid-row: 4 / 5;
}


/*------------------------*/


/*--- Header Content Grid ----*/

.header__content--grid {
    display: grid;
    grid-template-areas: 'logo search cart';
    justify-content: space-between;
    align-items: center;
}

.footer__content--grid {
    display: grid;
    grid-template-areas: 'logo social .'
                         'logo copy .';
    justify-content: space-between;
    align-items: center;
    grid-gap: 10px;
}

@media screen and (min-width: 540px) {
    .header__content--grid, .footer__content--grid {
        justify-content: space-around;
    }
    
}


/*--- ProductsList Grid---*/

.listGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-template-rows: minmax(360px, auto);
    grid-gap: 2.4rem;
    justify-content: center;
}


/*------------------------*/


/*------ Categories Grid-------*/

.categoriesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    grid-template-rows: auto;
    grid-gap: 2.4rem;
    justify-content: center;
}




