.catalogMain {
  /*-- Carousel Container--*/
  .featuresContainer {
    @extend %containerCarousel;

    /*-- Carousel content (features)--*/
    .catalogMain__features {
      @extend %carousel;
    }
    .catalogMain__features__title {
      @extend %title;
    }
  }
  /*--------------*/
  /*---- Products Catalog ----*/
  .catalogMain__products {
    .catalogMain__products__filter {
      background-color: $clr-light-orange;
      color: $clr-text;
      font-size: 1.2rem;
      font-weight: bold;
      margin: 1.6rem;
      padding: 1.6rem;

      form {
        fieldset {
          padding: 4px 8px 8px 8px;
          display: flex;
          justify-content: space-evenly;

          legend {
            float: none;
          }
          .filterItem {
            select {
              width: 100%;
            }
          }
        }
      }
    }

    .catalogMain__products__section {
      .catalogMain__products__section__article {
        @extend %productsList;
        &--title {
          @extend %subtitle;
        }
      }
    }
  }
  /*--------------------------*/
}
