.cartMain {
    &--title {
        @extend %title;
    }
    .cartMain__container {
        .cartMain__container__row {
            .cartMain__container__row__cartForm {
                padding: 0;
                height: fit-content;
                margin-bottom: 1.6rem;
                form {
                    /*---------- CART TABLE ---------*/
                    .table-responsive {
                        background-color: hsl(271, 13%, 95%);
                        border-collapse: collapse;
                        text-align: center;
                        vertical-align: middle;
                        width: 100%;
                        td,
                        tr,
                        th {
                            padding: 0.8rem;
                        }
                        thead {
                            tr,
                            th {
                                font-size: 2rem;
                                font-weight: normal;
                                background-color: $clr-lilac;
                            }
                        }
                        tbody {
                            tr td:first-child {
                                font-weight: bold;
                            }
                            .productCant {
                                border: 1px solid $clr-purple;
                                text-align: center;
                                width: 48px;
                            }
                        }
                        tfoot {
                            td {
                                &:last-child {
                                    font-size: 1.6rem;
                                    font-weight: bold;
                                    opacity: 0.8;
                                }
                            }
                        }
                    }
                    /*---------------------------*/
                }
            }
            .cartMain__container__row__dataClient {
                padding: 0;
                #form {
                    background-color: hsl(271, 13%, 95%);
                    padding: 16px;
                    fieldset {
                        legend {
                            font-size: 2rem;
                            font-weight: normal;
                            margin-bottom: 3.2rem;
                            float: none;
                        }
                        .inputForm {
                            input:not(.button--default):not(.button--confirm) {
                                border: none;
                                border-bottom: 1px solid $clr-purple;
                                caret-color: $clr-orange;
                                margin-bottom: 1.6rem;
                            }
                            .form-check-input {
                                border: 1px solid $clr-purple !important;
                                &:checked {
                                    background-color: $clr-lilac;
                                }
                                &:focus {
                                    box-shadow: 0 0 0 0.25rem $clr-light-lilac;
                                }
                            }
                            .form-control {
                                font-size: 1.2rem;
                                &:focus {
                                    color: $clr-text;
                                    background-color: #fff;
                                    border-color: $clr-lilac;
                                    outline: 0;
                                    box-shadow: 0 0 0 0.25rem $clr-light-lilac;
                                }
                            }
                            input[type="text"],
                            input[type="email"],
                            input[type="number"] {
                                transition: all 0.4s;
                                &:focus {
                                    border-bottom: 2px solid $clr-purple;
                                    transform: scale(1, 1.2);
                                }
                            }
                            &.groupFormButtons {
                                display: flex;
                                justify-content: center;
                                align-content: center;
                                margin-top: 1.6rem;
                                input {
                                    margin-right: 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
            .cartMain__container__row__payMethods {
                margin: 3.2rem;
                &--title {
                    @extend %title;
                }
                &--imgs {
                    ul {
                        list-style: none;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        li {
                            width: 160px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .cartMain__container__row__cartForm {
        margin-right: 1.6rem;
    }
}

@media only screen and (max-width: 768px) {
    table,
    thead,
    tbody,
    tfoot,
    th,
    td,
    tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    tbody {
        td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            margin-left: 56px;
        }
        td:before {
            /* Now like a table header */
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        td:nth-of-type(1):before {
            content: "Producto";
        }
        td:nth-of-type(2):before {
            content: "Cantidad";
        }
        td:nth-of-type(3):before {
            content: "Precio ($)";
        }
        td:nth-of-type(4):before {
            content: "Subtotal ($)";
        }
        td:nth-of-type(5):before {
            content: "";
        }
    }
    tfoot tr {
        display: flex;
        justify-content: space-evenly;
    }
}