.footer {

  .footer__content {
    @extend %footerHeaderContent;
    padding:1.6rem 0;
    .footer__content__logo {
      @extend %logoSize;
      grid-area: logo;
    }
  
    .footer__content__social {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      gap: 16px;
      grid-area: social;
    }
    .footer__content__copy {
      width: 100%;
      grid-area: copy;
      & > p {  
        margin: auto;
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .footer {
    padding: 4px;
    padding-bottom: 0;
    .footer__content {
      .footer__content__copy {
        font-size: 12px;
      }
    } 
  }
}