.header {
  /*margin & padding in generic-classes/%pannels */
  display: flex;
  flex-flow: column nowrap;
  position: sticky;
  top: 0;
  z-index: 1000;

  .header__content {
    @extend %footerHeaderContent;

    .header__logo {
      @extend %logoSize;
      grid-area: logo;
    }
    .header__search {
      background-color: $clr-white;
      margin: 0.8rem 0;
      padding: 8px;
      width: 24rem;
      grid-area: search;

      .search__form {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        input {
          border: none;
        }
        input[type="text"] {
          font-weight: 300;
          font-size: 1.6rem;
          width: 80%;
        }
        span {
          width: $iconWidth;
          height: $iconWidth;
        }
      }
    }
  }
  .header__cart {
    grid-area: cart;
    a {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 540px) {
  .header {
    padding: 4px;
    padding-bottom: 0;
    .header__content {
      .header__search {
        margin: 0.8rem;
        padding: 8px;
        width: 20rem;
      }
    } 
  }
}