.navbar {
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 0;

  .navbar__menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
    font-size: 0;

    li {
      background-color: hsl(204, 8%, 86%);
      display: inline-block;
      font-size: 2.4rem;
      padding: 0 0.8rem;
      position: relative;

      a {
        color: $clr-text;
        display: block;
        padding: 8px;
        text-decoration: none;
      }

      &:hover {
        background-color: $clr-light-purple; 
        &>a {
            color: $clr-white;
        }

        .navbar__submenu {
            display: block;
        }
      }

      &.active {
        background-color: $clr-purple; 
        &>a {
            color: $clr-white;
        }
      }
    }
  }

  .navbar__submenu {
    background-color: $clr-white;
    display: none;
    position: absolute;
    left: 20px;
    text-align: center;
    margin: auto;

    &--bg {
        background-color: $clr-light-lilac;
    }

    li {
      background-color: var(--clr-light-lilac);
      font-size: 2.4rem;
      text-align: left;
      padding-left: 16px;
      position: relative;
      width: 300px;

      a {
        color: $clr-text;
        padding: 10px;
      }

      &:hover {
          a {
            color: $clr-white;
          }
      }
    }
  }
}
